# Requirements file for the Chemputer suite

# those packages SHOULD be fine with the most recent versions, if not try the ones mentioned in the comments
pyserial        # tested with 3.3
opencv-python   # tested with 3.1.4
networkx==2.2   # tested with 2.2
numpy           # tested with 1.15.0
pytest
